@model ExaminationSystemTT.PL.ViewModels.ExamCreateViewModel

@{
    ViewData["Title"] = "Create New Exam";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="Model.Courses">
                    <option value="">-- Select Course --</option>
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="InstructorId" class="control-label"></label>
                <select asp-for="InstructorId" class="form-control" asp-items="Model.Instructors">
                    <option value="">-- Select Instructor --</option>
                </select>
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create Exam" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}